<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Log in</title>
</head>
<body style="padding: 30px;">
    <p> Get call </p>
    <form action="/students" method="get" >
        <label for="name" style="text-align: center;">name:</label>
        <input type="text" name="name">
        <button type="submit">submit</button>
    </form>
    <p> Post call </p>
    <form action="/addStudent" method="post" >
        <label for="name" style="text-align: center;">name:</label>
        <input type="text" name="name">
        <label for="rollno">rollno:</label>
        <input type="text" name="rollno">
        <button type="submit">submit</button>
    </form>
    <p> Put call </p>
    <form action="/post-" method="post" >
        <label for="name" style="text-align: center;">name:</label>
        <input type="text" name="name">
        <label for="rollno">rollno:</label>
        <input type="text" name="rollno">
        <button type="submit">submit</button>
    </form>
    
</body>
</html>